:root {
    --coyote: #887750ff;
    --walnut-brown: #594A39ff;
    --khaki: #BDAA90ff;
    --drab-dark-brown: #47422Eff;
    --black-olive: #373527ff;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

i {
    text-align: center;
    font-size: x-large;
}

#elephant-icon {
    font-size: x-large;
    color: rgb(104, 102, 102);
}

.primary-theme {
    color: var(--khaki);
    background-color: var(--drab-dark-brown);
}

.secondary-theme {
    background-color: var(--khaki);
    color: var(--walnut-brown);
}

.hf-theme {
    background-color: var(--walnut-brown);
    color: var(--khaki);
}

.img-txt-theme {
    background-color: var(--black-olive);
    color: var(--coyote);
}

.card-theme {
    background-color: var(--coyote);
    color: var(--black-olive);
}

.flex {
    display: flex;
}

.mobile-hide {
    display: none;
}

.bg-md {
    /* no background img */
}

.offset-card {
    /* default on mobile */
}

@media(min-width:768px) {
    .mobile-hide {
        display: contents;
    }

    .bg-md {
        background-image: url('images/zebra-giraffe.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .offset-card {
        position: absolute;
        right: 7.5vh;
        bottom: -10vh;
    }

    #elephant-icon {
        font-size: xx-large;
    }
}