:root {
    --header-text:

}

body {
    font-family: 'Fira Sans', sans-serif;
}

i {
    text-align: center;
    font-size: 100%;
}

#elephant-icon {
    font-size: x-large;
    color: rgb(104, 102, 102);
}

.flex {
    display: flex;
}

.mobile-hide {
    display: none;
}

.bg-md {
    /* no background img */
}

.green-card {
    /* default on mobile */
}

@media(min-width:768px) {
    .mobile-hide {
        display: contents;
    }

    .bg-md {
        background-image: url('images/zebra-giraffe.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .green-card {
        position: absolute;
        right: 7.5vh;
        bottom: -10vh;
    }

    #elephant-icon {
        font-size: xx-large;
    }
}